.Testimonials {
  font-weight: bold;
  font-size: 30px;
  background: #ffba7a;
  color: #000;
  height: 56.5vw;
  position: relative;
}
.testimonial_heading {
  font-size: 3.33vw;
  font-family: Rubik;
  font-weight: 500;
  margin-left: 10.2vw;
  padding-top: 5%;
}
.testimonial_underline {
  border: 2px solid #eb5310;
  width: 13vw;
  margin-left: 10.2vw;
}