.Testimonials {
  font-weight: bold;
  font-size: 30px;
  background: #ffba7a;
  color: #000;
  height: 56.5vw;
}
.testimonial_heading {
  font-size: 3.33vw;
  font-family: Rubik;
  font-weight: 500;
  left: 10.2vw;
  top: 410vw;
  position: absolute;
}
.testimonial_underline {
  border: 2px solid #eb5310;
  width: 13vw;
  left: 10.2vw;
  top: 414vw;
  position: absolute;
}
@media screen and (max-width: 1024px) {
	.testimonial_heading{
		top: 423vw;
	}
	.testimonial_underline{
		top: 427vw;
	}
}