@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

.Header{
	font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 1.11vw;
 line-height: 1.31vw;
 color: #FBFAE0;
}

.Header_navbar {
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: space-between;
 /* padding: 20px; */
 background: #1C1C1C;
	height:5.55vw;
	width:100%;
	z-index:1000;
 /* color: #fff; */
}

.Header_logo1 {
 position: absolute;
width: 2.083%;
height: 3.24vw;
left: 9.65%;
/* margin-right: 1.73%; */
margin-top: 1.18vw;
margin-bottom: 1.18vw;
background:url('https://raw.githubusercontent.com/Nikitha2309/Girl-Script-Education-Outreach-Website/master/assets/1_Header_Logo_1.png') no-repeat;
background-size: contain;
}

.Header_logo2 {
 position: absolute;
width: 19.44%;
height: 3.73vw;
left: 13.47vw;
margin-top: 0.76vw;
margin-bottom: 1.18vw;
background:url('https://raw.githubusercontent.com/Nikitha2309/Girl-Script-Education-Outreach-Website/master/assets/1_Header_Logo_2.png') no-repeat;
background-size: contain;
}

.Header_nav-links{
 position: relative;
 margin-left:56.11vw;
 display: flex;
 gap: 3.40vw;
 flex-direction: row;
 margin-top:2.29vw;
margin-bottom:2.29vw;
list-style:none;
text-transform: capitalize;
}
.Header_nav-links a:hover{
	color:#EB5310 !important;
}

.nav_link_dot{
	position:relative;
	width: 0.45vw;
    height: 0.45vw;
	left:50%;
	top:45.25%;
background:url('https://raw.githubusercontent.com/Nikitha2309/Girl-Script-Education-Outreach-Website/master/assets/1_Header_Dot.png') no-repeat;
background-size: contain;
background: #EB5310;
	border-radius: 50%;
}
