.Description {
  font-weight: bold;
  font-size: 2.1vw;
  color: black;
  background: #ffba7a;
  display: flex;
  height: 49.44vw;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 9.65%;
  width: 60%;
}
.image-container {
  height: 100%;
}
.description-heading,
.description-sub-heading {
  font-family: Rubik;
}
.description-heading {
  font-size: 3.33vw;
  font-weight: 500;
  margin: 0;
  /* margin-bottom: 0.85vw; */
}
.underline {
  border-top: 0.14vw solid #eb5310;
  width: 13vw;
  height: 0px;
}
.description-sub-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.67vw;
  margin: 2.69vw 0vw 1.67vw;
  line-height: 1.9vw;
}
.desc-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  width: 48.33vw;
  line-height: 1.7vw;
  /* margin: 1rem 0rem; */
}
.desc-illust {
  position: absolute;
  width: 33.4vw;
  height: 25.76vw;
  right: 5.83vw;
  top: 10vw;
}
.desc-dot-illust {
  position: absolute;
  width: 15%;
  left: 81%;
  top: 11.74vw;
}
/* @media screen and (max-width: 1024px) {
  .Description {
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  .description-container{
    margin-top: 38rem;
    margin-bottom: 2rem;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .description-heading{
    font-size: 5vw;
  }
  .description-sub-heading{
    font-size: 2.51vw;
  }
  .desc-description{
    font-size: 2.1vw;
    line-height: 2.55vw;
  }
  .underline{
    margin: auto;
  }
  .desc-illust{
    top: 8vw;
    left: 15%;
    width: 55vw;
  }
  .desc-dot-illust{
    top: 8vw;
    left: 50%;
    width: 23vw;
  }
} */
