
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.aim{
	background-color: #FFBA7A;
	height:41.66vw; /*600px*/
	display: flex;
	padding: 30px;
	justify-content: space-between;
}
.aim h1{
	font-family: 'Rubik', sans-serif;
	font-size: 3.3vw;
	margin-bottom: 5px;
}
.aim-flex-cont{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: space-between;
}

.aim-main-content {
	 width: 34.4%;
	 position: relative;
	 z-index:10;
	/* height:10.48vw;  */
}

.aim-dot-1{
    position: absolute ;
	z-index: -1;
	top:20px;
	width:60.75%;
}
.aim-content{
	position: absolute;
	left:8.77%;
	top:7.63vw;
}


.aim p{
	font-size: 1.1vw;
}
.aim-img{
	width:40.37vw;
	position: absolute;
	right:0;
	top:3.47vw; /*50px*/
	z-index: 2;
}
.aim-main-img{
	position: relative;
}
.aim-dot-2{
	position: absolute;
	right:0;
	bottom:2.77vw; /*40px*/
	width:21vw;
	
}
.aim hr{
	border: none;
	border-top:5px solid #EB5310 ;
	height:2px;
	width:67px;
	margin-bottom: 30px;
}
