.Sponsors {
  background: #1C1C1C;
  color: #fff;
  height: 22vw;
}
.sponsor_heading {
  font-weight: 500;
  font-size: 3.33vw;
  text-align: center;
  font-family: Rubik;
  padding-top: 2rem;
}
.sponsor_dot_pattern1 {
  position: absolute;
  width: 15%;
  left: -4%;
  top: 378vw;
  z-index: 1;
}
.sponsor_dot_pattern2 {
  position: absolute;
  width: 15%;
  left: 85%;
  top: 393vw;
  z-index: 0;
}
.sponsor_logo {
  position: absolute;
  width: 38%;
  left: 31%;
  top: 394vw;
}
@media screen and (max-width: 1024px) {
	.sponsor_logo{
		top: 409vw;
	}
	.sponsor_dot_pattern1{
		top: 393vw;
	}
	.sponsor_dot_pattern2{
		top: 407vw;
	}
}
