.Sponsors {
  background: #1C1C1C;
  color: #fff;
  height: 22vw;
  position: relative;
}
.sponsor_heading {
  font-weight: 500;
  font-size: 3.33vw;
  text-align: center;
  font-family: Rubik;
  padding-top: 2rem;
}
.sponsor_dot_pattern1 {
  position: absolute;
  width: 15%;
  left: -4%;
  top: -15%;
  z-index: 1;
}
.sponsor_dot_pattern2 {
  position: absolute;
  width: 15%;
  left: 85%;
  bottom: -15%;
  z-index: 0;
}
.sponsor_logo {
  width: 38%;
  left: 31%;
  margin: 2.5rem;
  position: absolute;
}