@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #ffba7a;
}
.Header{
  position: absolute;
  top: 0;
}
.Team h1 {
  font-size: 3.33vw;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 10.7vw;
  margin-bottom: 8vw;
}
.Team h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 1.67vw;
  margin-bottom: 5vw;
}
.team-main{
    position: relative;
}
.team-dot {
  position: absolute;
  width: 19.71vw;
}
.team-main .team-bg-dot-top {
  top: -5vw;
  right: 11.74vw;
}
.team-main .team-bg-dot-bottom {
  top: 34.51vw;
  left: 10vw;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.82vw 6vw;
  text-align: center;
  width: 64.1vw;
  margin: auto;
  margin-bottom: 10vw;
}
.team-member {
  position: relative;
}
.member-img {
  width: 17.3vw;
  height: 20.45vw;
  background-image: linear-gradient(
      180.08deg,
      rgba(28, 28, 28, 0) 0.07%,
      rgba(28, 28, 28, 0) 63.83%,
      #1c1c1c 90.36%
    ),
    url("https://github.com/Nikitha2309/Girl-Script-Education-Outreach-Website/blob/master/assets/team-member.png?raw=true");
  border-radius: 2.1vw;
  background-size: cover;
}
.team-member h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 1.25vw;
  line-height: 1.5vw;
  position: absolute;
  top: 17.5vw;
  left: 4.9vw;
  width: auto;
  margin: auto;
}
